{% extends "base.html.twig" %}

{% block title %}
Products
{% endblock %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ product }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}